<p-toast></p-toast>
    <p-card [header]="title">
      <ng-template pTemplate="header">
          <div class="card-header"></div>
      </ng-template>

    <p-table
        [value]="users" editMode="row"
        [tableStyle]="{'min-width': '50rem'}"
        [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
            [rowsPerPageOptions]="[10, 25, 50]">

        >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:10%">Username</th>
                <th style="width:10%">Nombre</th>
                <th style="width:15%">Apellidos</th>
                <th style="width:15%">Domicilio</th>
                <th style="width:10%">Email</th>
                <th style="width:10%">Nif</th>
                <th style="width:10%">Teléfono</th>
                <th style="width:8%">Fecha de Registro</th>
                <th style="width:5%">Rol Usuario</th>
                <th style="width:5%"></th>

            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="user">
              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" pInputText
                            id="username"
                            [(ngModel)]="user.username"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.username}}
                    </ng-template>
                </p-cellEditor>
               </td>

               <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" pInputText
                            id="name"
                            [(ngModel)]="user.name"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.name}}
                    </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" pInputText
                            id="surnames"
                            [(ngModel)]="user.surnames"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.surnames}}
                    </ng-template>
                </p-cellEditor>
               </td>

               <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" pInputText
                            id="address"
                            [(ngModel)]="user.address"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.address}}
                    </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" pInputText
                            id="email"
                            [(ngModel)]="user.email"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.email}}
                    </ng-template>
                </p-cellEditor>
               </td>

               <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" pInputText
                            id="nif"
                            [(ngModel)]="user.nif"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.nif}}
                    </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input type="text" pInputText
                            id="phone"
                            [(ngModel)]="user.phone"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.phone}}
                    </ng-template>
                </p-cellEditor>
               </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.registrationDate | date}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="userRoles" appendTo="body" [(ngModel)]="user.role"  optionLabel="type"    [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.role.type}}
                        </ng-template>
                    </p-cellEditor>
                </td>


                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </p-card>
