<form class="form-body" [formGroup]="newAlbumForm" autocomplete="off">
  <p-toast></p-toast>
  <p-card [header]="title">
      <ng-template pTemplate="header">
          <div class="card-header"></div>
      </ng-template>

      <div class="field">
          <label for="title">Titulo</label>
          <input type="text" pInputText
              id="title"
              formControlName="title"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small *ngIf="isValidField('title')" id="title-help" class="p-error">{{ getFieldError('title') }}</small>
      </div>

      <div class="field">
        <label for="musicians">Musicos</label>
        <div id="musicians"
            class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full">
            <p-dropdown [options]="musicians" formControlName="musician"
            optionLabel="nameSelect" placeholder="Selecciona un músico" autoWidth="false" [style]="{'width':'20%'}"
            [filter]="true" filterBy="name" [showClear]="true">
            </p-dropdown>
            <p-button (click)="showMusicianModal()" icon="pi pi-plus"></p-button>
        </div>
        <small *ngIf="isValidField('musician')" id="title-help" class="p-error">{{ getFieldError('musician') }}</small>
      </div>

      <p-dialog [(visible)]="isVisibleMusicianModal" [style]="{width: '50vw'}">
        <app-new-musician-page (onCreateMusician)="onCreateMusicianHandler($event)"></app-new-musician-page>
      </p-dialog>

      <div class="field">
        <label for="genre">Género</label>
        <div id="genre"
            class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full">
            <p-dropdown formControlName="genre" [options]="genres" optionLabel="name" placeholder="Selecciona un género"
            [filter]="true" filterBy="name" [showClear]="true"></p-dropdown>
        </div>
        <small *ngIf="isValidField('genre')" id="genre-help" class="p-error">{{ getFieldError('genre') }}</small>
      </div>

      <div class="field">
          <label for="recordCompany">Discográfica</label>
          <div id="recordCompany"
              class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full">
              <p-dropdown
                  formControlName="recordCompany" [options]="recordCompanies" optionLabel="name" placeholder="Selecciona una Discográfica"
                  [filter]="true" filterBy="name" [showClear]="true"></p-dropdown>
                  <p-button (click)="showRecordCompanyModal()" icon="pi pi-plus"></p-button>
          </div>
          <small *ngIf="isValidField('recordCompany')" id="recordCompany-help" class="p-error">{{ getFieldError('recordCompany') }}</small>
      </div>

      <p-dialog [(visible)]="isVisibleRecordCompanyModal" [style]="{width: '50vw'}">
        <app-new-record-company-page (onCreateRecordCompany) ="onCreateRecordCompanyHandler($event)"></app-new-record-company-page>
      </p-dialog>


      <div class="field">
        <label for="duration">Duración</label>
        <p-inputNumber
            id="duration"
            class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full"
            formControlName="duration" [showButtons]="true"></p-inputNumber>
            <small *ngIf="isValidField('duration')" id="duration-help" class="p-error">{{ getFieldError('duration') }}</small>
      </div>

      <div class="field">
        <label for="pubYear">Año Publicación</label>
        <div id="pubYear"
            class="text-base text-color surface-overlay appearance-none outline-none focus:border-primary w-full">
            <p-calendar formControlName="pubYear" view="year" dateFormat="yy" [showIcon]="true"></p-calendar>
        </div>
        <small *ngIf="isValidField('pubYear')" id="pubYear-help" class="p-error">{{ getFieldError('pubYear') }}</small>
      </div>

      <ng-template pTemplate="footer">
          <div class="flex flex-row flex-wrap card-container blue-container gap-3">
              <p-button
              *ngIf="!isEdit"
              type="submit" styleClass="p-button-success" label="Create"
              (onClick)="saveAlbum()"></p-button>
              <p-button *ngIf="isEdit" label="Modify" styleClass="p-button-warning" (onClick)="updateAlbum()"></p-button>
              <p-button label="Clean" styleClass="p-button-danger" icon="pi pi-eraser" iconPos="left" (onClick)="resetForm()"></p-button>
          </div>
      </ng-template>
  </p-card>
</form>


