<form class="form-body" [formGroup]="newMusicianForm" autocomplete="off">
  <p-toast></p-toast>
  <p-card [header]="title">
      <ng-template pTemplate="header">
          <div class="card-header"></div>
      </ng-template>

      <div class="field">
          <label for="title">Nombre</label>
          <input type="text" pInputText
              id="title"
              formControlName="name"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small *ngIf="isValidField('name')" id="name-help" class="p-error">{{ getFieldError('name') }}</small>
      </div>


      <div class="field">
        <label for="title">Apellidos</label>
        <input type="text" pInputText
            id="title"
            formControlName="surnames"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
      </div>

      <ng-template pTemplate="footer">
          <div class="flex flex-row flex-wrap card-container blue-container gap-3">
              <p-button
              *ngIf="!isEdit"
              type="submit" styleClass="p-button-success" label="Crear"
              (onClick)="saveMusician()"></p-button>
              <p-button *ngIf="isEdit" label="Modificar" styleClass="p-button-warning" (onClick)="updateMusician()"></p-button>
              <p-button label="Limpiar" styleClass="p-button-danger" icon="pi pi-eraser" iconPos="left" (onClick)="resetForm()"></p-button>
          </div>
      </ng-template>
  </p-card>
</form>
