/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


.spacer {
  flex:1 1 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f9fa;
  margin: 0;
}

.p-dataview-header {
  display: flex;
  justify-content: space-between;
}

.p-dataview-header .filters-sort {
  margin-right: 10px;
}

.p-dataview-header .filters-filter {
  margin-right: 10px;
}

html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


